language: ruby
cache: bundler
sudo: false
script: bundle exec rspec
rvm:
- '2.2'
- '2.1'
- '2.0'
addons:
  code_climate:
    repo_token:
      secure: CX0AIDehELC1kcnvfeLLnhKpX68OCh7OhyRuFhJbMLt9NEu5FjLJgR3IF4V/e+BeyUIEi+xidi/Xa9j+06BbCGtjGmmgTde/Zp9qpVHOwsiGXYn4zkZZmudUQXdF/S3CrBkwauXC8HTUS1OIeGylK5fhW/fz+PpwU7ocQahrhvc=
